[submodule ".registry"]
	path = .registry
	url = https://github.com/rladies/rladies.r-universe.dev
	branch = HEAD
[submodule "meetupr"]
	path = meetupr
	url = https://github.com/rladies/meetupr
	branch = master
